nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  position: fixed;
  z-index: 999;


  .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: $UniB;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    transition: ease 0.3s;
    span {
        transition: ease 0.3s;
      color: #66B650;
    }
    &:hover{
        color: #66B650;
        span {
            color: #fff;
        }
    }
    img{
      width: 50px;
      height: 50px;
    }
  }
  .left-nav {
    display: flex;
    align-items: center;
    .release {
      width: 100px;
    }
    i{
      font-size: 22px;
    }
    a {
      margin: 0 10px;
      width: 80px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #bababa;
      }
    }
    .login {
      width: 100px;
      background-color: #fff;
      height: 32px;
      border-radius: 20px;
      font-family: $UniBold;
      border: 1px solid;
      transition: ease 0.3s;
      color: #121212;
      &:hover {
        background-color: #171717;
        color: #fff;
      }
      span {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: 4px;
      }
    }
  }
}

.footer{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    span{
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        color: #fff;
        margin: 38px 0 20px 0;
    }
    .footer-links{
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a {
        height: 40px;
        width: 40px;
        color: #fff;
        text-decoration: none;
        font-size: 1.45rem;
        margin: 0px 20px;
        transition: ease 0.35s;
        text-align: center;
        border-radius: 30px;
        i{
            margin-top: 20%;
        }
        &:hover {
          background-color: #fff;
          color: #141414;
          transition: ease 0.4s;
        }
      }
}