
@font-face {
    font-family: "UniHeavy";
    src: url(../css/fonts/UniNeue-Trial-Heavy.ttf) format("truetype");
  }

  
  @font-face {
    font-family: "UniBold";
    src: url(../css/fonts/UniNeue-Trial-Bold.ttf) format("truetype");
  }

  
  @font-face {
    font-family: "UniReg";
    src: url(../css/fonts/UniNeue-Trial-Regular.ttf) format("truetype");
  }

    
  @font-face {
    font-family: "UniBlack";
    src: url(../css/fonts/UniNeue-Trial-Black.ttf) format("truetype");
  }

